.left-sidebar-column {
    border-right: 1px solid #d1d5db;
    background-color: #FFFFFF;
}

.collapse-item {
    background-color: transparent;
    border: none;
    border-radius: 0 !important;
    .ant-collapse-item {
        background-color: rgba($color: #d1d5db, $alpha: .2);
        .ant-collapse-content{
            .ant-collapse-content-box {
                padding: 0;
            }
        }
    }    
}

.collapse-item .ant-collapse-item {
    border-radius: 0 !important;
    background-color: transparent;
    border-bottom: 1px solid #d1d5db;
}

.collapse-item .ant-collapse-item .ant-collapse-header {
    border-radius: 0 !important;
    padding: 8px 16px;
    color: #111827;
}

.ant-collapse-item-active .ant-collapse-header .ant-collapse-arrow {
    transform: rotate(180deg) !important;
    transition: transform 0.3s;
  }

.ant-collapse-item .ant-collapse-header .ant-collapse-arrow {
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.ant-collapse-header-text {
    text-align: left;
}

.ant-collapse-item .ant-collapse-content {
    border-radius: 0 !important;
    border-top: 1px solid #d1d5db;
    color: #111827;
    background-color: transparent;
}