.logo-image {
    width: 100px; /* Cambia el tamaño según tus necesidades */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
}

.top-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d1d5db;
  background-color: #FFFFFF;
}

.device-select-topbar {
  margin-left: 1.2em;
}

.device-select-topbar .ant-select .ant-select-selector {
  background-color: transparent;
  border-color: #d1d5db;
  color: #111827;
}

.ant-select.ant-select-open .ant-select-selection-item {
  color: #111827;
}

.device-select-topbar .ant-select .ant-select-arrow {
  color: #111827;
}