.top-sidebar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	border-bottom: 1px solid #d1d5db;
	background-color: #FFFFFF;
	div {
		text-align: center;
		.MuiInputBase-root {
			margin-bottom: 8px;
			.MuiSelect-select {
				padding: 8px 34px 8px 14px;
			}
		}
		.logo-image {
			height: 28px; /* Ajusta la altura automáticamente para mantener la proporción */
		}
	}
}