.right-column {
    border-left: 1px solid #d1d5db;
    background-color: #FFFFFF;
    
    .tabs-buttons {
        .MuiBox-root {
            .MuiTabs-root {
                .MuiTabs-scroller {
                    .MuiTabs-flexContainer {
                        display: grid;
                        grid-template-columns: repeat(2, 50%);
                        .MuiButtonBase-root {
                            text-transform: none;
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .tabs-content {
        // overflow-y: auto;
        // height: 100vh;
        .MuiTabPanel-root {
            padding: 16px;
        }
    }
}