
.gjs-custom-block-manager {
    padding: 0 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    // height: 50vh;
    height: 75vh;
    box-shadow: none;
    .category-title{
        margin-bottom: 8px;
    }
    .content-blocks {
        display: flex;
        // grid-template-columns: repeat(2, 46%);
        grid-template-columns: repeat(2, 1fr);
        gap: 6px;
        flex-flow: row wrap;
        // margin: 4px 0;
        margin-bottom: 8px;
        .box-block{
            width: 48%;
            cursor: pointer;
            border: 1px solid #019DF4;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 6px 8px 0;
            .image-size {
                width: 18px;
                //margin-right: 8px;
                display: flex;
                svg {
                    path {
                        fill: #019DF4;
                    }
                }
                img {
                    height: 40px;
                }
            }
            .text-size {
                font-size: 11px;
                color: #737578;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 80%;            
                text-align: center;
            }
        }
    }
}

.gjs-custom-page-manager {
    padding: 0 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 50vh;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #019DF4;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #019DF4;
    ;
}