
.content-blocks {
    display: grid;
    grid-template-columns: repeat(2, 46%);
    gap: 12px;
    margin: 16px 0;
    .box-block{
        border: 1px solid #019DF4;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px 8px;
        .image-size {
            width: 28px;
            svg {
                path {
                    fill: #019DF4;
                }
            }
        }
        .text-size {
            font-size: 13px;
            color: #737578;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
        }
    }
}