
.gjs-custom-block-manager {
    padding: 0 16px;
    .category-title{
        margin-bottom: 8px;
    }
    .content-blocks {
        display: grid;
        // grid-template-columns: repeat(2, 46%);
        gap: 6px;
        // margin: 4px 0;
        margin-bottom: 8px;
        .box-block{
            cursor: pointer;
            border: 1px solid #019DF4;
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0 8px;
            .image-size {
                width: 18px;
                margin-right: 8px;
                display: flex;
                svg {
                    path {
                        fill: #019DF4;
                    }
                }
            }
            .text-size {
                font-size: 11px;
                color: #737578;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
            }
        }
    }
}