@font-face {
    font-family: 'Telefonica-Regular';
    src: url('fonts/Telefonica-Fonts/telefonica-regular-webfont.woff2') format('woff2'),
         url('fonts/Telefonica-Fonts/telefonica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Telefonica-Light';
    src: url('fonts/Telefonica-Fonts/telefonica-light-webfont.woff2') format('woff2'),
         url('fonts/Telefonica-Fonts/telefonica-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Telefonica-Bold';
    src: url('fonts/Telefonica-Fonts/telefonica-bold-webfont.woff2') format('woff2'),
         url('fonts/Telefonica-Fonts/telefonica-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Roboto */

@font-face {
    font-family: 'Roboto-thin';
    src: url('./Roboto/Roboto-Thin.ttf') format('truetype'),
         url('./Roboto/Roboto-Thin.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-light';
    src: url('./Roboto/Roboto-Light.ttf') format('truetype'),
         url('./Roboto/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./Roboto/Roboto-Regular.ttf') format('truetype'),
         url('./Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('./Roboto/Roboto-Medium.ttf') format('truetype'),
         url('./Roboto/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./Roboto/Roboto-Bold.ttf') format('truetype'),
         url('./Roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('./Roboto/Roboto-Black.ttf') format('truetype'),
         url('./Roboto/Roboto-Black.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}