.gjs-custom-style-manager {
    text-align: left;
    //border: 1px solid #d1d5db;
    .mb-3.px-1.w-full {
        display: grid;
        grid-template-columns: 26% 68%;
        align-items: center;
        grid-gap: 16px;
        margin-bottom: 16px;
        .capitalize {
            font-size: 12px;
        }
    }
    .MuiPaper-root {
        box-shadow: none;
        .MuiButtonBase-root {
            //border: 1px solid #d1d5db;
            .MuiAccordionSummary-content {
                margin: 2px 0;
            }
        }
    }
}