body {
    margin: 0 auto;
    font-family: 'Telefonica-Regular', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, span, div, a, ul, ol, li, blockquote, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.gjs-row-kenos {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px 0;
    display: table;
    width: 100%;
    border-spacing: 16px;
}
/* .gjs-row-kenos .gjs-cell-kenos:first-child{
    margin-left: -10px;
}
.gjs-row-kenos .gjs-cell-kenos:last-child{
    margin-right: -10px;
} */

.gjs-cell-kenos {
    width: 8%;
    display: table-cell;
    height: 75px;
    vertical-align: top;
}
@media (max-width: 767px) {
    .gjs-row-kenos {
        display: flex;
        flex-direction: column;        
        max-width: initial;        
        padding: 16px;
    }
    .gjs-cell-kenos {
        width: 100%;
        height: initial;
    }
}	

p {
    margin: 0;
}
.bg-light {
    background-color: #fff
}

.brand-low {
    background-color: #E6F5FD;
}
.ptb-80 {
    padding: 80px 0;
}
.p-relative-hero {
    position: relative;
    overflow: hidden;
    max-height: 524px;
    display: flex;
    align-items: center;
}
@media (max-width: 767px) {
    .p-relative-hero {
        height: 400px
    }
}	
.p-absolute-hero {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
@media (max-width: 767px) {
    .ptb-80 {
        padding: 32px 16px;
    }
}

.w-100-glp {
    width: 100%;
}

@font-face {
    font-family: 'Telefonica-Regular';
    src: url('fonts/telefonica-regular-webfont.woff2') format('woff2'),
         url('fonts/telefonica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Telefonica-Light';
    src: url('fonts/telefonica-light-webfont.woff2') format('woff2'),
         url('fonts/telefonica-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Telefonica-Bold';
    src: url('fonts/telefonica-bold-webfont.woff2') format('woff2'),
         url('fonts/telefonica-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Tabs */